/*For Div Testing Only*/
.red {
  background-color: red;
}

/*Materialize overwrite - custom grey background*/
.grey1{
  background-color: #f7f8fa;
}

ul{
  font-weight: bold;
}

.hi{
  background: #8EFDB2 !important;
  background-color: rgba(142, 253, 178, 0.7)!important;
}
