/*highlighter cursor styling*/

/* get this working in context
::selection {
  background-color: rgba(142, 253, 178, 1)!important;
}
*/

/*Unused due to pref for inline span styling*/
/*.highlightr {
  background-color: rgba(142, 253, 178, 0.6)!important;
}*/


.highlightr-body {
  /* we can't simply use "body", as there may be multiple
   * in the DOM */
  cursor: url(https://i.imgur.com/Rt7rOHX.png) 5 20, auto !important;
}
