/*highlighter cursor styling*/

::selection {
  background-color: rgba(142, 253, 178, 1)!important;
}

/*Unused due to pref for inline span styling*/
/*.highlightr {
  background-color: rgba(142, 253, 178, 0.6)!important;
}*/

.hovr:hover {
  /*background-color: rgba(142, 253, 178, 0.9)!important;*/
  background-color: pink!important;
}

* {
  cursor: url(http://i.imgur.com/Rt7rOHX.png) 0 34, auto !important;
}
